## EDA Fundamentals

***

#### EDA  Stages
- Data Requirements
- Data Collection
- Data Processing
- Data Cleaning
- EDA
- Modeling and Algorithms
- Data Product
- Communication

### Variables
- In EDA it is important to understand the type of data you are working with for analysis
- Different industry sectors such as hospitals, real estate, finance, schools etc store varying kinds of data.
- For instance a bank will store customer information such as name,age, gender, salary, location. Each of the mentioned features is what is known as a variable in data science. For each of the variables you will have specific values for them eg.

- Name: Kiki
- Age: 35
- Gender: Female
- Salary :20000
- location: Nairobi

- Such kind of information can be stored in a database management system, excel etc as below

| Name | Age | Gender| Salary| Location |
| --- | --- | --- |-- | -- |
| Kiki | 35 | Female | 20000 | Nairobi |
| Gustav | 30 | Male | 40000 | Mombasa |

## Types of Data

- Most Data falls into two broad categores ( Numerical and Categorical Data)

### Numerical Data

- This is Data Represented by numbers eg Age, Salary amount, Number of Cars etc

## Categorical Data

- Variables which should not be treated like numbers 

- Nominal variable: A categorical variable where the categories do not have a
natural ordering (e.g. gender, ethnicity, city).
- Ordinal variable: A categorical variable where the categories have a natural
ordering (e.g. age group, income level, educational status).

# Pandas

In [22]:
## Import the pandas library as pd
import pandas as pd
    
## Load the data
df = pd.read_csv("bestsellers with categories.csv")

In [23]:
## Display the first 5 rows
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [24]:
## Display the last 5 rows
df.tail()

,Name,Author,User Rating,Reviews,Price,Year,Genre
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [12]:
## Our data has 4 columns( Name,Author,User Rating, Reviews, Price, Year, Genre)

In [25]:
## Check the number of rows and columns
df.shape

(550, 7)

In [26]:
## Description of the data - A quick way to get basic description of your data (Summary statistcs)
df.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

In [29]:
## The datatype our data has
df.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

In [30]:
## the name of the columns
df.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [31]:
## how many non-null values we have for each entry
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [39]:
## Find unique values column Year
df.Year.unique()

array([2016, 2019, 2015, 2010, 2009, 2011, 2012, 2018, 2017, 2013, 2014],
      dtype=int64)

In [32]:
## Find unique values column Genre
df.Genre.unique()

array(['Non Fiction', 'Fiction'], dtype=object)

In [35]:
## Check the frequency in a column
df.Genre.value_counts()

Non Fiction    310
Fiction        240
Name: Genre, dtype: int64

In [36]:
## display the columns as a dictionary
df[['Name', 'Genre']]

                                                  Name        Genre
0                        10-Day Green Smoothie Cleanse  Non Fiction
1                                    11/22/63: A Novel      Fiction
2              12 Rules for Life: An Antidote to Chaos  Non Fiction
3                               1984 (Signet Classics)      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  Non Fiction
..                                                 ...          ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  Non Fiction

[550 rows x 2 columns]

In [38]:
## Sort the books in descending order
df=df.sort_values(by="Genre",ascending=False)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
98,Educated: A Memoir,Tara Westover,4.7,28729,15,2019,Non Fiction
89,Dover Creative Haven Art Nouveau Animal Design...,Marty Noble,4.6,2134,5,2015,Non Fiction
90,Drive: The Surprising Truth About What Motivat...,Daniel H. Pink,4.5,2525,16,2010,Non Fiction
67,Decision Points,George W. Bush,4.6,2137,17,2010,Non Fiction
...,...,...,...,...,...,...,...
481,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2018,Fiction
482,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2019,Fiction
38,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
179,If Animals Kissed Good Night,Ann Whitford Paul,4.8,16643,4,2019,Fiction
79,Doctor Sleep: A Novel,Stephen King,4.7,15845,13,2013,Fiction

In [40]:
## Check missing Values
df.isnull().sum()

Name           0
Author         0
User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64